* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login {
    padding-left: 25%;
    padding-top: 30%;
}

.login_id input,
.login_pw input {
    outline: none;
    padding-left: 60px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 1);
    height: 60px;
    width: 400px;
    background: white;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.login_id>img,
.login_pw>img {
    position: absolute;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), -1px -1px 3px rgba(0, 0, 0, 1);
    margin-top: 10px;
    border-radius: 10px;
    height: 60px;
    width: 50px;
}

.login_id ::placeholder,
.login_pw ::placeholder {
    color: gray;
    font-size: 15pt;
}

<<<<<<< HEAD
.login_button,
.login>form>button {
=======
.login_button, .signup {
>>>>>>> 708934baab6a3b5f32aaf5fca91b7b60848011c9
    box-shadow: 3px 2px 1px rgba(0, 0, 0, 0.7), -1px -1px 3px rgba(0, 0, 0, 1);
    margin-top: 20px;
    background: #72F7BF;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    letter-spacing: 10px;
    font-size: 15pt;
}

.head {
    display: flex;
    line-height: 86px;
    background: #72F7BF;
    width: 100%;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.7), -1px 0px 10px rgba(0, 0, 0, 1);
}

.head li {
    margin-left: 5%;
}

<<<<<<< HEAD
.head li h1 a {
=======
.head li h1 a , .head li h1{
>>>>>>> 708934baab6a3b5f32aaf5fca91b7b60848011c9
    color: white;
}

.login_id h4,
.login_pw h4 {
    font-size: 20pt;
    margin-bottom: 10px;
    margin-left: -3%;
}

.login_check {
    margin-top: -2%;
    font-size: 15pt;
    width: 80%;
    font-weight: bold;
}