* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head {
    display: flex;
    line-height: 86px;
    background: #72F7BF;
    width: 100%;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.7), -1px 0px 10px rgba(0, 0, 0, 1);
}

.head li {
    margin-left: 5%;
}

.head li h1 a , .head li h1{
    color: white;
}

.profile img{
    position: absolute;
    top: 60px;
    left: 374px;
    height: 250px;
    width: 250px;
}

.profile p{
    top:250px;
    position: absolute;
    font-size: 25pt;
    font-weight: bold;
    margin-left: -50px;
    margin-bottom: 3%;
}

#userid{
    margin-top: 50px;
}

.profile{
    height: 250px;
    margin-left: 444px;
    margin-bottom: 1%;
}

.content {
    outline: solid;
    margin: 5% 2px 2px 2px;
    font-size: 20pt;
    height: 90px;
    line-height: 90px;
}

.title{
    background-color: lightgray;
}