* {
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login {
    padding-left: 15%;
    padding-top:20%;
}

.login_id input , .login_pw input{
    outline: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 3px rgba(0, 0, 0, 1);
    height: 60px;
    width: 400px;
    background: white;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.login_id ::placeholder, .login_pw ::placeholder{
    color : gray;
    font-size:15pt;
}

.login_button:visited{
    margin-top: 20px;
    background : white;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    letter-spacing: 10px;
    font-size: 15pt;
}

.login_button , .login > form > button{
    margin-top: 20px;
    background : #74da76;
    width: 400px;
    height: 50px;
    border-radius: 20px;
    letter-spacing: 10px;
    font-size: 15pt;
}

.head{
    display: flex;
    line-height: 86px;
    background: #74da76;
    width: 100%;
}

.head li{
    margin-left: 20px;
}

.head li h1 a{
    color:white;
}

.login_id h4 , .login_pw h4{
    font-size: 20pt;
    margin-bottom: 10px;
    margin-left : -3%;
}
.login_check{
    margin-top: -2%;
    font-size: 15pt;
    width: 80%;
    font-weight: bold;
}