<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="profile">
        <h2>
            프로필
        </h2>
        <p id="nickname">
            닉네임: {{userName}}
        </p>
        <p id="userid">
            아이디: {{userID}}
        </p>
    </div>
    <div>
        <form action="" onsubmit="return validation()", method="POST">
            {% csrf_token %}
            <p>주차권 명칭: <input id="ticketname" type="text" name="ticketname" ></p>
            <p>주차권 코드: <input id="ticketcode" type="text" name="ticketcode" maxlength="10"></p>
            <p>유효 기간: <input id="Validity" type="text" name="Validity"></p>
            <input type="submit" id="submit" value="등록하기">
        </form>
    </div>
    <script>
        function validation(){
            var ids = new Array("ticketname", "ticketcode", "Validity");
            var idsString = new Array("주차권 이름", "주차권 코드", "유효 기간");
            for (var i = 0; i < ids.length; i++){
                if(document.getElementById(ids[i]).value.length == 0){
                    alert(idsString[i] + "을 입력하세요");
                    return false;
                }
            }
        }
    </script>
</body>
</html>