<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>CPMS</title>
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'main.css' %}" />
    <script>
        function logshowhide(){
                //로그인 로그아웃
                if(window.location.href.search('login_success') != -1){
                document.getElementById('mainlogin').style.display = 'none';
                document.getElementById('mainlogout').style.display = 'block';
            }else{
                document.getElementById('mainlogin').style.display = 'block';
                document.getElementById('mainlogout').style.display = 'none';
            }
        }
    </script>
</head>

<body onload="mylocation(),logshowhide()">
    <header id="headline" style="width:100%;height:200px;">
        <div class = "headd">
            <img src='{% static "image/menu.png" %}'>
            <h1><a href="goingMain/" class="main">
                    오따세우
                </a></h1>
                <nav class = "linkage">
                    <a href="../../login/" id="mainlogin">로그인</a>
                    <a href="logout/" id="mainlogout">로그아웃</a>
                    <a href="ticket/">내 주차권</a>
                </nav>
        </div>
        <div class="center-container">
            <input id="search" type="text" size=20 maxlength=20 placeholder="지역 또는 목적지를 검색"  />
            <input id="search-button"type="button" onclick="searchlocation(document.getElementById('search').value)" value="검색">
            <img src='{% static "image/search.png" %}' class="search">
            <img src="{% static 'image/location.png' %}" class ="location" alt="현 위치 이미지" onclick="mylocation()">
        </div>
    </header>
    
    <div id="map"></div>
    <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3fd06bc4839879de7fd8f6b44b09cc61&libraries=services"></script>
    <script>
        // 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
        var infowindow = new kakao.maps.InfoWindow({ zIndex: 1 });

        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        // 지도를 생성합니다    
        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 장소 검색 객체를 생성합니다
        var ps = new kakao.maps.services.Places();

        // 키워드로 장소를 검색합니다
        function searchlocation(data) {
            if (data.length == 0) {
                return alert("검색어를 입력해 주세요");
            }
            else if (data.search("주차") == -1) {
                data = data + " 주차장";
                document.getElementById('search').value =data;
            }
            ps.keywordSearch(data, placesSearchCB);
        }

        // 키워드 검색 완료 시 호출되는 콜백함수 입니다
        function placesSearchCB(data, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
                // LatLngBounds 객체에 좌표를 추가합니다
                var bounds = new kakao.maps.LatLngBounds();

                for (var i = 0; i < data.length; i++) {
                    displayMarker(data[i]);
                    bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
                }

                // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
                map.setBounds(bounds);
            }
        }
        // 지도에 마커를 표시하는 함수입니다
        function displayMarker(place) {

            // 마커를 생성하고 지도에 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: new kakao.maps.LatLng(place.y, place.x)
            });

            var markerImage = new kakao.maps.MarkerImage(
                '{% static "image/pngwing.com (1).png" %}',
                new kakao.maps.Size(31, 35), new kakao.maps.Point(13, 34));
            marker.setImage(markerImage);

            // 마커에 클릭이벤트를 등록합니다
            kakao.maps.event.addListener(marker, 'click', function () {
                // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
                infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
                infowindow.open(map, marker);
            });
        }
        function mylocation() {
            if (navigator.geolocation) {
                // GeoLocation을 이용해서 접속 위치를 얻어옵니다
                navigator.geolocation.getCurrentPosition(function (position) {

                    var lat = position.coords.latitude, // 위도
                        lon = position.coords.longitude; // 경도

                    var locPosition = new kakao.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
                        message = '<div style="padding:5px;">여기에 계신가요?!</div>'; // 인포윈도우에 표시될 내용입니다
                    
                    // 마커와 인포윈도우를 표시합니다
                    current_displayMarker(locPosition, message);

                });

            } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다

                var locPosition = new kakao.maps.LatLng(33.450701, 126.570667),
                    message = '위치를 불러올 수 없습니다.';

                current_displayMarker(locPosition, message);
            }
            // 지도에 마커와 인포윈도우를 표시하는 함수입니다
            function current_displayMarker(locPosition, message) {

                // 마커를 생성합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: locPosition
                });

                var markerImage = new kakao.maps.MarkerImage(
                    '{% static "image/pngwing.com.png" %}',
                    new kakao.maps.Size(31, 35), new kakao.maps.Point(13, 34));
                marker.setImage(markerImage);

                var iwContent = message, // 인포윈도우에 표시할 내용
                    iwRemoveable = true;

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: iwContent,
                    removable: iwRemoveable
                });

                // 인포윈도우를 마커위에 표시합니다 
                // infowindow.open(map, marker);

                // 지도 중심좌표를 접속위치로 변경합니다
                map.setCenter(locPosition);

            }
        }

    </script>
</body>

</html>