<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPMS_login</title>
    <link rel="stylesheet" href="../static/login.css">
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'login.css' %}" />
</head>

<body onload="loginvalidation(), needToLogin()">
    <header>
        <div class="head" style="width: 100%;">
                <li>
                    <!-- 뒤로가기 링크 -->
                    <h1><a href="javascript:window.history.back();">↩</a></h1>
                </li>
                <li>
                    <!-- 메인화면 링크 -->
                    <h1><a href="../">오따세우</a> 로그인</h1> 
                </li>
        </div>
    </header>
    <section>
        <div class="login">

            <form action="{% url 'trying_login' %}" method="POST", onsubmit="return validation()" >
                {% csrf_token %}
                <div class="login_id">
                    <h4>UserID</h4>
                    <img src='{% static "image/user.png" %}'>
                    <input id='userid' type='text' placeholder="Username", name = "user_id", maxlength="10" /><br>
                </div>
                <div class="login_pw">
                    <h4>Password</h4>
                    <img src='{% static "image/password.png" %}'>
                    <input id='userpassword' type='password' placeholder="Password" name='user_password', maxlength='13' /><br>
                </div>
                <div class="login_check">
                    <input type="checkbox" name="" id=""> 로그인 정보 기억
                </div>
                <input type='submit' class="login_button" value="로그인">
            </form>
            <button class = "signup" onclick="location.href = 'signup/'">회원가입</button>
        </div>

        <script>
            function needToLogin(){
                var message = "{{login_error}}";
                if (message.length !=0){
                    alert(message);
                    location.replace('../login');

                }
            }
            function loginvalidation(){
                //아이디 비밀번호 틀릴 때
                if('{{str_error}}'.length != 0){ 
                    alert("{{str_error}}");
                }
            }
            function validation(){
                //아무것도 입력 안했을 때
                if (document.getElementById('userid').value.length == 0){
                    alert("아이디를 입력하세요");
                    return false;
                }else if(document.getElementById('userpassword').value.length == 0){
                    alert("비밀번호를 입력하세요");
                    return false;
                }
            }
        </script>
    </section>

</body>

</html>