<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPMS_login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>

<body>
    <header>
        <a href="#">
            <h1>오따세우 로그인</h1>
        </a>
    </header>
    <section>
        <div class="login">
            <form action="" method="get">
                ID : <input id='userid' type='text' /><br>
                비밀번호 : <input id='userpassword' type='password' maxlength='5' /><br>
                <input type='submit' value="로그인">
                <button onclick="location.href = '#'">회원가입</button>
            </form>
        </div>
    </section>

</body>

</html>