{% load static %}
<!DOCTYPE html>
<html lang="ko" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPMS_login</title>
    <link rel="stylesheet" href="../css/login.css">
    <link rel='stylesheet' type="text/css" href="{% static 'login.css' %}"/>
</head>

<body>
    <header>
        <div class="head" style="width: 100%;">
                <li>
                    <h1><a href="#">↩</a></h1>
                </li>
                <li>
                    <h1><a href="http://www.naver.com">오따세우 로그인</a></h1>
                </li>
        </div>
    </header>
    <section>
        <div class="login">
            <form action="" method="get">
                <div class="login_id">
                    <h4>UserID</h4>
                    <input id='userid' type='text' placeholder="Username" /><br>
                </div>
                <div class="login_pw">
                    <h4>Password</h4>
                    <input id='userpassword' type='password' placeholder="Password" maxlength='5' /><br>
                </div>
                <div class="login_check">
                    <input type="checkbox" name="" id=""> 로그인 정보 기억
                </div>
                <input type='submit' class="login_button" value="로그인">
                <button onclick="location.href = '#'">회원가입</button>
            </form>
        </div>
    </section>

</body>

</html>