<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div class="profile">
        <h2>
            프로필
        </h2>
        <p id="nickname">
            닉네임:
        </p>
        <p id="userid">
            아이디: 
        </p>
    </div>
    <div>
        {% for post in posts %}
        <div class="content">
            <p>
                <h3 class="title">
                    {{ post. title}}
                </h3>
            </p>
        </div>
    </div>

</body>
</html>