<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPMS-signup</title>
</head>

<body>
    <h1>CPMS 회원가입</h1>
    <h3>CPMS 소중한 회원을 되어주세요</h3>
    <form name="CPMS-signup" action="" method="post">
        <br>닉네임<br>
        <input type="text" name="s_user_name" placeholder="닉네임 입력">
        <br>아이디<br>
        <input type="text" name="s_userId" placeholder="아이디 입력">
        <input type="button" name="s_userCheck" value="아이디 확인">
        <br>
        비밀번호<br>
        <input type="password" name="s_userPw1" placeholder="비밀번호"><br>
        비밀번호 재확인<br>
        <input type="password" name="s_user_Pw2" placeholder="동일한 비밀번호">
        <input type="button" name="s_user_PwCheck" value="비밀번호 재확인">
        <br>
        <input type="submit" name="s_user_submit" value="회원가입">
    </form>
 
    <footer>
        <div class="container col-lg-4 home_bottom_banner"
            style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
            <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-8rGrafz8kofQLWhf" data-ad-width="320"
                data-ad-height="100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
        <div class="container col-lg-4 home_bottom_banner"
            style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
            <ins class="kakao_ad_area" style="display:none;" data-ad-unit="DAN-8rGrafz8kofQLWhf" data-ad-width="320"
                data-ad-height="100"></ins>
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>
        </div>
    </footer>
</body>

</html>