<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>주차권 정보</title>
    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static 'ticketdetails.css' %}" />
</head>
<body>
    <header>
        <div class="head">
            <li>
                <!-- 뒤로가기 링크 -->
                <h1><a href="javascript:window.history.back();">↩</a></h1>
            </li>
            <li>
                <h1>주차권 정보</h1> 
            </li>
    </header>
    <div class="profile">
        <h2>
            프로필
        </h2>
        <img src='{% static "image/profile.png" %}'>
        <p id="nickname">
            닉네임: {{'userName'}}
        </p>
        <p id="userid">
            아이디: {{'userID'}}
        </p>
    </div>
    <div class ="ticket">
        <p>
            주차권 이름: {{ticketName}}
        </p>
        <p >
            <img src="{% static 'image/googleQR.png' %}" alt="qr코드">
        </p>
    </div>
    <div class ="ticket-detail">
        <p id = "create-date">
            생성일: {{createDate}}
        </p>
        <p id ="deadlineDate">
             유효기간: {{deadlineDate}}
        </p>
    </div>
</body>
</html>